* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 html {
    scroll-behavior: smooth; 
    font-size: 18px;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #117A65 ;
  }
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: left;
    color: white;
  }
input {
    opacity: 0;
    z-index: -2;
    position: absolute;
  }
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: left;
    color: white;
    height: 20%;
}
.arrow {
    height: 30%;
    visibility: hidden;
}

.accordeon {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.accordeon-item { 
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 0.1vh solid #E8F6F3; 
    overflow: hidden;}
.accordeon-title {
    height:10vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-between;}
.meme {
    width: 0%;
    max-height:0%;
    margin: 0 auto;
}
.accordeon:hover .arrow {
    visibility: visible;
}
.accordeon-item:hover {
    cursor: pointer;
}
.accordeon-item:hover .meme {
height: 30%;
width: 30%;
transition: all 2s;
}
.accordeon-item:hover .arrow {
    transition: all 1s;
    transform: rotate(180deg);
}
.input:hover {
    cursor: pointer;
}
.accordeon-item input[type="radio"]:checked ~.meme {
    width: 30%;
    height:30%;
    margin: 0 auto;
    visibility: visible;
    transition: all 2s;
}
.accordeon-item input[type="radio"]:checked ~.arrow {
    transform: rotate(180deg);
}
.accordeon-item label {
    cursor: pointer;
}

/*adaptive*/
@media (max-width: 820px) {
    h1 {font-size: 1,25rem;}
    h2 {font-size:0.75rem;}
    .arrow {
        height: 25%;
    }
}
@media (max-width: 320px) {
    h1 {font-size: 1rem;}
    h2 {font-size:0.5rem;}
    .arrow {
        height: 20%;
    }
}
